
.toast_component {
  margin-right: 24px;
  margin-bottom: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  border-left: 4px solid #0CAF91;
  color: #212833;
  border-radius: 2px;
  padding: 20px;
  background: #f8fffe;
  line-height: 1;
  position: relative;
  overflow: hidden;
  transform: translate3d(120%, 0, 0);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  line-height: 20px;
  font-size: 14px;

  &.show {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  &.toast_component_error {
    border-left-color: #EF5656;
    background: #fef0f0;

    .svg_icon {
      color: #EF5656;
    }
  }

  .svg_icon {
    vertical-align: -3px;
    color: #0CAF91;
  }
}
